body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Anipics/boardimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#board{      display: flex;
    flex-wrap:  wrap;
    height: 480px;
    width: 480px;
  

}
#info{
    text-align: center;
    text-shadow:3px 3px 4px #e0069f;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: larger;
}
.square{
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;

}
.square .pieces{position: relative;
    z-index: -10;
}
.square .pieces img{
    position: relative;
    z-index: 12;
}
.black {
    background-color: #8476BA;
}
.white {
    background-color: #ffffff;
    }
.pieceso{ 
    
        height: 100%;
        width:  100%;
    }
.White{
    height: 100%;
    width:  100%;
}
.Black{
    height: 100%;
    width:  100%;
}
